
<div class= "col-xs-8 col-xs-offset-2 user-edit">
	<div class="col-xs-4 col-xs-offset-4">
		<%= form_for(@user) do |f| %>
		    <div class="edit-field">
		    	<label for="name">name</label><br>
		    	<%=f.text_field :name %>
		    </div>
		    <label class="" >ProfileImage</label>
		    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
		    <div class="edit-field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  	</div>
		  	<div class="edit-field">
		    	<label class="form-group" for="introduction">Introduction</label><br>
		    	<%= f.text_area :introduction ,:size => "35x10"%>
		    </div>


		    <div class="action"><%= f.submit 'Update User' ,class:"btn btn-success text-center"%></div>
		<% end %>
	</div>
</div>
<div class="edit-footer col-xs-12 "></div>
