<p id="notice"><%= notice %></p>
<div class="col-xs-3"><h2>SideBar</h2>
<%= render 'searches/search_form' %>
</div>



<div class="col-xs-7 user-posts ">
	<h2><%=@user.name %>さんのページ</h2>

	<h2 class="page-header">投稿一覧</h2>
	
	    <% @posts.each do |post| %>
	    	<div class="p-item">
			    <div class="p-title">
			    	<h3><%=link_to post.title,post %></h3>
			    </div>
			    <p>by <%= post.user.name %>  <%= post.likes_count %>いいね！ at <%= post.created_at.strftime("%Y年%m月%d日%H時%M分") %></p>
			    <p><%= post.tag_list %></p>
		  	</div>
		<% end %>
		<%= paginate @posts, class: "pagenate" %>
	<h2 class="page-header ">コメント記事一覧</h2>
	
	    <% @comments.each do |comments| %>
	    	<div class="p-item">
			    <div class="p-title">
			    	<h3><%=link_to comments.post.title %></h3>
			    </div>
			    <p>by <%= comments.post.user.name %>  <%= comments.post.likes_count %>いいね！ at <%= comments.post.created_at.strftime("%Y年%m月%d日%H時%M分") %></p>
			    <p><%= comments.post.tag_list %></p>
		  	</div>
		<% end %>
		<%= paginate @comments, class: "pagenate" %>
</div>

