

  <%= form_with(model: post, local: true) do |form| %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title,class:"new-post-title"%>
    </div>

    <div class="form-group" id="tag_form">
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list,class:"new-post-tag",placeholder:"カンマ区切りで複数登録できます" %>
    </div>
    
    <div class="form-group" id="markdown_editor">
      <%= form.label :content %><br>
      <%= markdown_editor(form, :content) %>
    </div>

    <div class="actions">
      <%= form.submit "投稿する" ,class:"btn btn-success center-block" %>
    </div>

  <% end%>




