


<%= form_with(model: post, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

 <div class="form-group" id="markdown_editor">
    <%= form.label :content %><br>
    <%= markdown_editor(form, :content) %>
  </div>

<div class="form-group" id="tag_form">
  <%= form.label :tag_list, "Tags (カンマで区切れます)" %><br />
  <%= form.text_field :tag_list %>
</div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>

<% end%>
</div>



