<%= form_with(model: post, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

 <div class="field" id="markdown_editor">
    <%= form.label :content %><br>
    <%= markdown_editor(form, :content) %>
  </div>

<div class="field">
  <%= form.label :tag_list, "Tags (separated by commas)" %><br />
  <%= form.text_field :tag_list %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end%>
