
<div> </div>
<p id="notice"><%= notice %></p>
<div class="col-xs-2"><h2>SideBar</h2></div>


<div class="col-xs-9">
	<h2 class="page-header">投稿一覧</h2>
	<table class="table">
	    <% @posts.each do |post| %>
	    	<div class="p-item">
			    <div class="p-title">
			    	<h3><%=link_to post.title,post %></h3>
			    </div>
			    <p>by <%= post.user.name %>  <%= post.likes_count %>いいね！ at <%= post.created_at.strftime("%Y年%m月%d日%H時%M分") %></p>
			    <p><%= post.tag_list %></p>
		  	</div>
		<% end %>
	</table>
	<br>
</div>
