<% if flash[:alert] %>
	<div class="alert alert-danger col-xs-10 col-xs-offset-1 " role="alert"><%= flash[:alert] %></div>
<% end %>
<% if notice %>
<p class= "alert alert-info col-xs-10 col-xs-offset-1" id="notice"><%= notice %></p>
<% end %>
<div class="col-xs-3 side-bar"><h2>ユーザー情報</h2>

	<div><%= render 'searches/search_form' %>
		<%= render 'users/user_info',user: @user %>
	</div>

</div>

<div class="col-xs-7  col-xs-offset-1 index-box">
	<h2 class="page-header">みんなのノート</h2>
	<table class="">
		<div>
	    <% @posts.each do |post| %>
	    	<div class="p-item">
			    <div class="p-title">
			    	<h3><%=link_to post.title,post %></h3>
			    </div>
			    <p>
			    	by <%= link_to post.user.name,user_path(post.user), class:"user-name" %> 
			    	at <%= post.created_at.strftime("%Y年%m月%d日") %>
			    	<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span><%= post.likes_count %>
			    	</p>
			    <span class="glyphicon glyphicon-tags" aria-hidden="true">
			    	<% post.tags.each do |tag| %>
			    		<div class="label label-info"><%= tag.name %></div>
			    	<% end %>
			    </span> 
		  	</div>
		<% end %>
		</table>
	<div><h4><%= paginate @posts, class: "pagenate" %></h4></div>
</div>
