<p id="notice"><%= notice %></p>

	<div class="col-xs-3 side-bar"><h2>ノートとった人</h2>
		<div><%= render 'searches/search_form' %>
			<%= render 'users/user_info',user: @user %>
		</div>
	</div>
<div class="col-xs-7 col-xs-offset-1 post-box">
	<div class="page-header">
	  	<h1><%= @post.title %></h1>
	  	<div id="like<%= @post.id %>">
		  <%= render partial: 'likes/like', locals: { post: @post, like: @like } %>
		</div>
		<br><h4><span class="glyphicon glyphicon-tags" aria-hidden="true">
			    	<% @post.tags.each do |tag| %>
			    		<div class="label label-info"><%= tag.name %></div>
			    	<% end %>
			</span>
			<span id="like<%= @post.id %>"></span>
		</h4>
		
	  	<h3><%= @post.created_at.strftime("%Y年%m月%d日") %></h3>

	</div>
	  
	  <div class="post-show-content" ><%= markdown @post.content %></div>


	<br><h3 class="chapter-title text-center">--コメント--</h3>
		<% @comments.each do |c| %>
			<div class="p-comment">
				<div class="p-comment-user">名前：<%=link_to c.user.name,user_path(c.user)%></div>
				<br>
				<div class="p-comment-content">コメント：<div><%= c.comment %></div></div>

				<% if c.user == current_user %>
	                <%= link_to "編集する", edit_post_post_comment_path(c.post_id,c) %> |
	                <%= link_to "ノートを消する", post_post_comment_path(c.post_id,c), method: :delete, "data-confirm" => "本当に消しますか？" %>
	            <% end %>
			</div>
		<% end %>



	<div class="">
		<%= form_for [@post,@post_comment] do |f|%>
		              <div class="col-xs-12">
		                <%= f.text_field :comment, class: "p-comment-form center-block", placeholder:"コメントをここに"%>
		              </div>
		        <input class="btn btn-success btn-sm center-block" type="submit" value="送信ボタン">
		<% end %>
	</div>
	<div class="text-center">
		<%= link_to "TOPに戻る" , root_path,class:"btn btn-primary" %>
	</div>
</div>
