<p id="notice"><%= notice %></p>

	<div class="col-xs-3"><h2>SideBar</h2>
		<div><%= render 'searches/search_form' %>
			<%= render 'users/user_info',user: @user %>
		
		
		</div>
	</div>
<div class="col-xs-8 post-box">
	<div class="page-header">
	  	<h1><%= @post.title %></h1>
	  	<div id="like<%= @post.id %>">
		  <%= render partial: 'likes/like', locals: { post: @post, like: @like } %>
		</div>
		<h4>Tag:<%= @post.tag_list %><span id="like<%= @post.id %>">
		</h4>
		
	  	<h3><%= @post.created_at.strftime("%Y年%m月%d日") %></h3>

	</div>
	  
	  <div class="post-show-content" ><%= markdown @post.content %></div>

	<div class="p-comment">
		<% @comments.each do |c| %>
			<div class="p-comment-user"><%=link_to c.user.name,user_path(c.user)%></div>
			<div class="p-comment-content"><%= c.comment %></div>

			<% if c.user == current_user %>
                    <%= link_to "編集する", edit_post_post_comment_path(c.post_id,c) %>
                    <%= link_to "ノートを消する", post_post_comment_path(c.post_id,c), method: :delete, "data-confirm" => "本当に消しますか？" %>
                <% end %>
		<% end %>
	</div>



	<div class="p-comment">
		<%= form_for [@post,@post_comment] do |f|%>
		            <div class="row">
		              <div class="col-sm-12">
		                <%= f.text_field :comment, class: "p-comment-form", placeholder:"コメントをここに"%>
		              </div>
		            </div>
		            <input class="btn btn-default" type="submit" value="送信ボタン">
		<% end %>
	</div>


	<%= link_to 'Back', posts_path %>
	</div>
