<div class="col-xs-12">
<p id="notice"><%= notice %></p>

	<div class="col-xs-3"><h2>SideBar</h2>
		<%= render 'searches/search_form' %>
		<br>
		<span id="like<%= @post.id %>">
		  <%= render partial: 'likes/like', locals: { post: @post, like: @like } %>
		</span>

	</div>
<div class="col-xs-8 post-box">
	<div class="page-header">
	  	<h1><%= @post.title %></h1>
		<h4>Tag:<%= @post.tag_list %></h4>
	  	<h3><%= @post.created_at.strftime("%Y年%m月%d日") %></h3>
	</div>
	  
	  <div class="post-show-content" ><%= markdown @post.content %></div>

	<div class="p-comment">
		<% @comments.each do |c| %>
			<div class="p-comment-user"><%=link_to c.user.name,user_path(c.user)%></div>
			<div class="p-comment-content"><%= c.comment %></div>
			<% if c.user == current_user or admin_signed_in? %>
                    <%#= link_to "編集する", post_comments_edit_path(c.post_comment,c) %>
                    <%#= link_to "投稿を削除する", post_comments_destroy_path(c.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        	<% end %>
		<% end %>
		<% binding.pry %>
	</div>



	<div class="p-comment">
		<%= form_for [@post,@post_comment] do |f|%>
		            <div class="row">
		              <div class="col-sm-12">
		                <%= f.text_field :comment, class: "p-comment-form", placeholder:"コメントをここに"%>
		              </div>
		            </div>
		            <input class="btn btn-default" type="submit" value="送信ボタン">
		<% end %>
	</div>


	<%= link_to 'Back', posts_path %>
	</div>
</div>